html {
	background: #222;
}

body {
	background: #fff url(/media/img/bg2.jpg) no-repeat center center;
	background-size: cover;
}

main {
	backdrop-filter: blur(18px);

	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 2rem 0;
}

/* GLASS ---------------------------------------------------- */
.glass {
	position: fixed;
	inset: 0;
	background: #000;
	opacity: 0;
	z-index: -200;
}

.glass.on {
	z-index: 20000;
}

/* LAYOUT --------------------------------------------------- */
.container {
	max-width: 1330px;
}

.flex {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	transition: .2s;
	margin: 2rem auto;
}

.card {
	font-family: "Roboto Condensed", Arial, sans-serif;
	-webkit-perspective: 1500;
	perspective: 1500;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 300px;
	width: 300px;
	margin: 0;
	opacity: 0;
	transition: .2s;
}

.card .front,
.card .back {
	overflow: hidden;
	text-align: left;
	box-shadow: rgba(0, 0, 0, 0.7) 0 2px 6px -2px;
	background: #fff;
	border-radius: 10px;
	backface-visibility: hidden;
	background-color: #222;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
}

.card .front {
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotateY(0);
	z-index: 2;
}

.card .front .title {
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0)),
			to(rgba(0, 0, 0, 0.5)));
	background: -webkit-linear-gradient(top,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.5));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.card .front .title h2 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 32px;
}

.card .back {
	background: #333;
	background-size: cover;
	transform: rotateY(-180deg);
}

.card.active:hover .back {
	backdrop-filter: blur(20px);
}

.card .back .content {
	opacity: 0;
	position: absolute;
	inset: 0;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card.active:hover .back .content {
	opacity: 1;
	backdrop-filter: blur(26px);
}

.card .back .title {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.card .back .title img,
.card .back h2,
.card .back p,
.card .back .btn {
	/* transition: all .2s 0.3s, opacity 0.4s 0.2s; */
	transition: all .1s 0.2s, opacity 0.2s 0.1s;
	filter: blur(60px);
}


.card.active:hover .back .title img {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.4);
	opacity: 1;
	filter: none;
}

.card .back h2 {
	opacity: 0;
	margin-top: -2rem;
}

.card.active:hover .back h2 {
	opacity: 1;
	margin-top: 0;
	filter: none;
}

.card .back p {
	margin: 5rem -2rem 0 -2rem;
	padding: 1rem 2rem;
	max-height: 150px;
	overflow: auto;
	opacity: 0;
}

.card.active:hover .back p {
	margin: 0 -2rem;
	opacity: 1;
	filter: none;
}

.card .back .btn {
	display: block;
	opacity: 0;

	padding: 10px;
	color: inherit;
	border: 1px solid #fff;
	text-decoration: none;
	border-radius: 6px;
	text-align: center;

	filter: none;
	backdrop-filter: blur(4px);
	text-shadow: 1px 1px 3px #000;
}

.card.active .btn:hover {
	background-color: rgba(85, 212, 0, 0.1);
	backdrop-filter: blur(30px);
	filter: none;
}

.card.active:hover .back .btn {
	opacity: 1;
}

/* ACTIVE / SHOW ----------------------------------------------- */
.card.active {
	opacity: 1;
}

.card.show {
	animation: cardPop .6s cubic-bezier(0.43, -1.24, 0.33, 2.34) 0.3s forwards;
}

.card.show .front,
.card.active .front {
	transform: rotateY(180deg);
}

.card.show .back,
.card.active .back {
	transform: rotateY(0);
}

/* CARD HOVER --------------------------------------------------- */
.flex:has(.card.active:hover) .card {
	filter: brightness(0.4) blur(6px);
}

.card.active:hover {
	filter: none !important;
	box-shadow: 20px 20px 30px 50px rgba(0, 0, 0, 0.6);
	z-index: 3000;
}

.card.active:hover .back {
	filter: brightness(1.1) blur(0);
	transform: scale(1.2);
}


@media screen and (max-width: 600px) {
	.card.active {
		width: 180px;
		height: 180px;
	}
}

@keyframes cardPop {
	0% {
		opacity: 1;
		transform: scale(0);
	}

	5% {
		opacity: 1;
		transform: scale(1.2);
	}

	10% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 1;
		width: 600px;
		height: 600px;
	}
}