---
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardContainer.astro";

const cards = [
  {
    title: "Bolsonaro",
    img: "cad1",
    votes: "1.345.345",
    order: "1",
  },
  {
    title: "LuLadrão",
    img: "cad2",
    votes: "3.456",
    order: "2",
  },
];
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <section>
      <Card {cards} />
    </section>

	<div class="controll">
    <button onclick="location.href='/in'">Go</button>
    <button onclick="location.href='/vota'">Vota</button>
	</div>
  </div>
</Layout>

<style>
	.controll {
		display: flex;
		justify-content: center;
		gap: 1rem;
		padding: 1rem;
		margin: 2rem auto;
	}

	button {
		padding: .5rem 2rem;
		border: none;
		border-radius: 10px;
		background: #000;
		color: #fff;
		font-size: 1.2rem;
		font-weight: 700;
		cursor: pointer;
	}
</style>
